<div id="content">
	<h1>Who's who in this ***** project:</h1>
	<h3>(appearing in ****** order)</h3>
	<h2>Dan Spinosa</h2>
	<p>For a guy with such long ****, it might be easy to mistake Dan for Jesus. In reality, he's more of a Guy***** ******wood.  In his own words, Dan loves "******* on **** and ******** with his hands." Dan talks incessantly about ******* Steve Jobs.  We're pretty sure if they ever ****, they'll both be wearing black *********** and holding each others *******.  Somebody take a picture of that.</p>
	<h2>Joe Yevoli</h2>
	<p>Joe played a lot of ******** in college. As as result, he knows a lot about hanging out in ****** rooms and watching people ******.  As an Italian, Joe has an affinity for eating ******* and ******** horse **** on beds. </p>
	<h2>Henry Sztul</h2>
	<p>Though he didn't go to school to learn how to ****, Henry's a pretty resourceful scientist with a giant ******, so with a little practice ******, he was able to hone his skills on his own.  Henry loves **** so much, he's the only one on the team who has earned the title  "**** scientist."</p>
	<h2>Rebecca Zhou</h2>
	<p>Rebecca is probably the only girl we know who would **** with a team of guys like this.  As you can see from the picture above, she's really into **** cats.  When she's not ********* things on the internet... well. Nevermind.  She's always ********* things on the internet.</p>
	<h2>Chris Kurdziel</h2>
	<p>What a ****ing weirdo...</p>
</div>

<% content_for :nav do -%>
	<div id="nav">
		<ul class="nav">
			<%= link_to root_path do %>
				<li>home</li>
			<% end %>
			<%= link_to best_path do %>
				<li>best</li>
			<% end %>
			<%= link_to newest_path do %>
				<li>new</li>
			<% end %>
			<%= link_to head2head_path do %>
				<li>head 2 ****</li>
			<% end %>
			<%= link_to '/about' do %>
				<li class="about current">about</li>
			<% end %>
		</ul>
	</div>
<% end -%>
