<div class="head2head">
	<div id="content">

	  <h1>Two Tweets, **** to Head</h1>


	  <div id="tweet_1" class="tweets">
	    <% if @tweets[0] %>
		  	<div class="tweet">
		  		<span class="tweet-text">
		  			<%= @tweets[0].twitter_status.text %>	
		  		</span>
		  	</div>

	    	<div class="bottom-bar">
		  		<%= image_tag @tweets[0].tweeter["profile_image_url"], :class=> "avatar"%>
	    		<%= @tweets[0].tweeter["name"] %> | @<%= @tweets[0].tweeter["screen_name"] %>
					<div class="vote">
		    		<%= render :partial => "tweets/upvote", :locals => { :tweet => @tweets[0], :not_remote => true } %>
		    	</div>
	    	</div>    	
	    <% else %>
	      You've voted on everything, sorry
	    <% end %>
	  </div>

	  <div id="versus"></div>

	  <div id="tweet_2" class="tweets">
	    <% if @tweets[1] %>
		  	<div class="tweet">
		  		<span class="tweet-text">
		  			<%= @tweets[1].twitter_status.text %>			
		  		</span>
		  	</div>

	    	<div class="bottom-bar">
		  		<%= image_tag @tweets[1].tweeter["profile_image_url"], :class=> "avatar"%>
	    		<%= @tweets[0].tweeter["name"] %> | @<%= @tweets[1].tweeter["screen_name"] %>
		    	<div class="vote">
		    		<%= render :partial => "tweets/upvote", :locals => { :tweet => @tweets[1], :not_remote => true } %>
		    	</div>
	    	</div>

	    <% else %>
	      You've voted on everything else.  You vote alot.  Wtf.
	    <% end %>
	  </div>

	</div>

	<div id="sidebar">
	  the sidebar is here
	</div>	
</div>
