<div id="content">
  <% if @winner %>
    <h2><span>#censoredtweet of the day</span></h2>
    <%= render :partial => "winners/show", %>

    <hr />
  <% end -%>

  <div class="tweets">
    <h2><span>newest #censoredtweet's</span></h2>
    <%= render @tweets %>
  </div>
</div>

<div id="sidebar">  
  <%= image_tag 'side-2.png', :class=>'sidebar-2' %>
	<%= image_tag 'pride.png', :class=>'sidebar-2', :width=>"230px" %>
</div>

<% content_for :nav do -%>
	<div id="nav">
		<ul class="nav">
			<%= link_to root_path do %>
				<li class="current">home</li>
			<% end %>
			<%= link_to best_path do %>
				<li>best</li>
			<% end %>
			<%= link_to newest_path do %>
				<li>new</li>
			<% end %>
			<%= link_to head2head_path do %>
				<li>head 2 ****</li>
			<% end %>
			<%= link_to '/about' do %>
				<li class="about">about</li>
			<% end %>
		</ul>
	</div>
<% end -%>
