<div id="content">
  <% if @winner %>
    <h1>YESTREDAYS WINNER</h1>
    <%= render :partial => "winners/show", %>

    <hr />
  <% end -%>

  <h1>Best Censored Tweets</h1>

  <%= render @tweets %>
</div>

<div id="sidebar">
  <%= image_tag 'side-2.png', :class=>'sidebar-2' %>
</div>

<% content_for :nav do -%>
	<div id="nav">
		<ul class="nav">
			<%= link_to root_path do %>
				<li class="current">home</li>
			<% end %>
			<%= link_to best_path do %>
				<li>best</li>
			<% end %>
			<%= link_to newest_path do %>
				<li>new</li>
			<% end %>
			<%= link_to head2head_path do %>
				<li>head 2 ****</li>
			<% end %>
		</ul>
	</div>
<% end -%>