<% if @winner %>
  <h1>YESTREDAYS WINNER</h1>
  <%= render :partial => "winners/show", %>

  <hr />
<% end -%>


<% if current_user %>  
  Welcome, <%= current_user.name %>! <br />
  <%= current_user.points %> points <br />
  <%= current_user.votes_received %> votes received <br /> 
<% else %>  
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>  
<% end %>


<h1>Best Censored Tweets</h1>

<%= render @tweets %>
