<div id="content">

  <h1>Newest Censored Tweets</h1>

  <%= render @tweets %>

</div>

<div id="sidebar">
  the sidebar is here
</div>

<% content_for :nav do -%>
	<div id="nav">
		<ul class="nav">
			<%= link_to root_path do %>
				<li>home</li>
			<% end %>
			<%= link_to best_path do %>
				<li>best</li>
			<% end %>
			<%= link_to newest_path do %>
				<li class="current">newest</li>
			<% end %>
			<%= link_to head2head_path do %>
				<li>head 2 ****</li>
			<% end %>
		</ul>
	</div>
<% end -%>