<% if current_user %>  
  Welcome, <%= current_user.name %>!  
<% else %>  
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>  
<% end %>


<h1>Newest Censored Tweets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    
    <td>@<%= tweet.tweeter["screen_name"] %></td>
    <td><%= image_tag tweet.tweeter["profile_image_url"] %></td>
    <td><%= tweet.twitter_status.text %></td>
    <td>TOOD: VOTEUP</td>
  </tr>
<% end %>
</table>

