<div class="winner">
  
  <%= image_tag @winner.background_image, :class => "bg-image" %>
  <div class="tweet-text">
    <%= @winner.tweet.twitter_status.text %>
  </div>

  <div class="tweeter">
  
    <div class="avatar">
      <%= image_tag @winner.tweet.tweeter["profile_image_url"] %>
    </div>
    
    <div class="tweeter-info">
      censored twat by @<%= @winner.tweet.tweeter["screen_name"] %>
      <br />
      <%= @winner.tweet.points %> points |
      <%= @winner.tweet.vote_count %> votes |
      <%= @winner.created_at.to_s(:long_date) %>
    </div>

  </div>

  
  
  

</div>