<!DOCTYPE html>
<html>
<head>
  <title>CensoredTweets</title>


  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
  <![endif]-->  
  
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
</head>
<body class="bp two-col">
  <div id="container">
    
    <header id="header">
      <%= link_to image_tag('logo.png', :class => 'header-logo'), root_path %>
      <%= image_tag 'your-shit.png', :class => 'header-text' %>
			
			<div id="welcome-user">
				<% if current_user %>  
	        Welcome, <%= current_user.name %>! | 
	        <%= current_user.points %> points |
	        <%= current_user.votes_received %> votes received |
					<%= link_to 'signout', '/signout' %>
	      <% else %>
	        <%= link_to "/auth/twitter" do %>						
						<span class="signin">
							Sign in with Twitter
							<%= image_tag 'http://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png' %>
						</span>
					<% end %>
	      <% end %>
			</div>
			
			<%= yield :nav %>
			
    </header>
    
    <%= yield %>
    
    <footer id="footer">
      footer stuff
    </footer>
    
  </div> <!-- /container -->

  <script type="text/javascript">
  	<%= yield :javascript %>
  </script>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</body>
</html>
